<div class="navpages">
    <h3><a href="/">Home.</a> <a href="/about/">About.</a> <a href="/projects/" class="selected">Projects.</a> <a href="/resume/">Resume.</a></h3>
</div>
<div class="main">
  <p class="intro">Hey there, </p>
  <p class="intro">
    I'm a graduating senior at the University of Toronto, St. George
    campus double majoring in Computer Science and Genetics.
  </p>
  <p class="intro">
    I'm part of a non-
    profit organization called Elixir Labs which aims to offer Software Engineering
    services to places in need but also lack the resources to acquire these services
    themeslves.
  </p>
  <p class="intro">
    I found my passion for Computer Science and programming in my third year of university.
    From then on, I participated in the Professional Experience Year 16 month co-op program
    and worked at the Canadian Federal Ministry of Environment where I worked on the
    Federal Geospatial Platform.
  </p>
  <p class="intro">
    I love playing video games, and I paint and sketch when I'm not coding.
  </p>
</div>
