<div class="navpages">
    <h3><a href="/">Home.</a> <a href="/about/">About.</a> <a href="/projects/" class="selected">Projects.</a> <a href="/resume/">Resume.</a></h3>
</div>
<div class="main">
  <div class="container">
    <p>
        * <a href="https://www.npmjs.com/package/gulp-i18n-csv">Gulp conversion plugin (Gulp-i18n-csv).</a>
    </p>
    <p>
        * LateX plugin for JavaScript.
    </p>
    <p>
        * <a href="https://github.com/cynngah/wikiExpand">WikiExpand Google Chrome extension.</a>
    </p>
    <p>
        * Generate Transparent Text.
    </p>
    <p>
        * No more Comic Sans.
    </p>
  </div>
</div>
