<div class="navpages">
    <h3><a href="/">Home.</a> <a href="/about/">About.</a> <a href="/projects/" class="selected">Projects.</a> <a href="/resume/">Resume.</a></h3>
</div>
<div class="main">
  <div class="container">
    <p>
        * LateX plugin for JavaScript.
    </p>
    <p>
        * WikiExpand Google Chrome extension.
    </p>
    <p>
        * Generate Transparent Text.
    </p>
    <p>
        * No more Comic Sans.
    </p>
  </div>
</div>
