<div class="navpages">
    <h3><a href="/">Home.</a> <a href="/about/">About.</a> <a href="/projects/">Projects.</a> <a href="/resume/" class="selected">Resume.</a></h3>
</div>
<div class="main">
    <p class="intro">
        Education: University of Toronto Bachelor of Computer Science (Expected Graduation date June 2017)
    </p>
    <p class="intro">
        Work Experience
        <ul></ul>
        Environment Canada:
        <br>
        Web Applications Developer (May 2015 - Aug 2016)
        <ul>
            <li>Developer for the Canadian Federal Geospatial Platform (FGP) team:  a web-mapping applicationusing ESRI’s ArcGIS JavaScript library and AngularJS</li>
            <li>Experienced with the Git workflow</li>
            <li>Reduced breaking changes from being introduced to code base from integration by 90% by activelyparticipating in code quality control</li>
            <li>Modularized code by building custom JavaScript library GeoAPI to encapsulate all server calls tothe ESRI library</li>
            <li>Optimized testing by writing comprehensive unit tests with the Jasmine testing framework</li>
        </ul>
    </p>
    <p class="intro">
        Related Projects:
        <ul></ul>
        Gulp-i18n-csv
        <ul>
            <li>File Conversion plug-in using JavaScript</li>
            <li>Developed as a solution to convert .csv language files to JSON files usable for web development</li>
            <li>Drastically improved efficiency for splitting translation files needed for site internationalization</li>
            <li>Designed as a gulp plug-in for seamless integration to the build process</li>
        </ul>
        Java File System
        <ul>
            <li>File System and Unix Shell using Java</li>
            <li>Implemented Unix commands and features</li>
            <li>Enhanced code modularity by introducing Factory Design Method</li>
            <li>Designed extensive test suite for all files, with special consideration to edge cases.</li>
            <li>Promoted team synergy and efficiency by organizing Scrums and other team meetings using AgileDevelopment method</li>
        </ul>
    </p>
    <p class="intro">
        Technical Skills
        <ul>
            <li>Object-Oriented Programming: Java, Python</li>
            <li>Non-Object-Oriented languages: C, Assembly</li>
            <li>Web : JavaScript (Node.js, ES6, AngularJS, jQuery), HTML5, CSS3, REST</li>
            <li>Version Control: Git, SVN</li>
            <li>Design Methodologies: Agile, Scrum</li>
            <li>Systems: UNIX/Linux, Bash</li>
            <li>Databases: MySQL, PostgreSQL</li>
        </ul>
    </p>
    <p class="intro">
        Extra-Curriculars:
        <ul></ul>
        <a href="https://www.facebook.com/groups/UofTLA/">University of Toronto League Association:</a>
        <ul>
            <li>Increased membership tenfold to one of the largest university video game clubs in North America(3000+ members) by planning and hosting both online and offline events.</li>
            <li>Planned Fan meetings with professional players with 800+ people turnout</li>
        </ul>
        Other Clubs: Apples to Oranges Board Games Club, University College Yoga Club, Rotman Commerce Dragon Boat Team.
    </p>
</div>
