<div class="navpages">
    <h3><a href="/">Home.</a> <a href="/about/">About.</a> <a href="/projects/">Projects.</a> <a href="/resume/" class="selected">Resume.</a></h3>
</div>
<div class="main">
  <div class="container">
    <p>
        Please come back later.
    </p>
  </div>
</div>
